.app-switcher__toggle-btn {
  background-color: transparent;
  border: none;
}

.app-switcher__toggle-btn svg {
  position: relative;
  color: #0595db;
  height: 36px;
  width: 36px;
  top: 3px;
}

.app-switcher__toggle-btn:hover svg,
.app-switcher__toggle-btn:focus svg,
.app-switcher__toggle-btn:active svg {
  color: #026191;
}

.app-switcher__toggle-btn:disabled svg {
  opacity: 0.8;
  color: gray;
}

.app-switcher__launchpad {
  margin-bottom: 15px;
  height: 400px;
  border-radius: 3px;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.14);
  z-index: 1000;
}

.app-switcher__launchpad-frame {
  border: none;
  height: 400px;
}
